.project-container {
    border-bottom: dashed rgb(121, 90, 90);
    height:100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  }

  .carousel-text {
    color: rgb(221, 219, 219);
    font-size: 1rem;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.1em;
  }

  .row-project {
    align-items: center;
    text-align: center;
    margin-top: 15%;
  }

  .profile-details-name {
    font-family: "Poppins SemiBold";
  }
  .profile-details-role {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
  }

  .carousel-caption {
    background-color: rgb(68, 76, 76);
    color: white;
    padding: 0; 
    bottom: 0;
    right: 0; 
    left: 0;
  }

  .objective-txt {
    font-size: 1.5em; 
    color: white;
  }

  .description-txt {
    font-size: 1.1em; 
    color: white;
  }

  .columned-item {
    padding: 0;
  }

  .project-title {
    padding-top: 1em;
    color: #fff;
    font-weight: 600;
    font-size: 2.5em;
    text-transform: capitalize;
    width: 100%;
  }
  
  .typewriter-entry {
    font-size: 1.4em;
    min-height: 5vh;
  }
  
  .primary-text {
    color: (--white);
  }
  .highlighted-text {
    color: #ff5823;
  }
  
  html, body, #app, #app>div {
    height: 100%
  }
  
  .fade-in-text {
    font-family: Arial;
    /* font-size: 150px; */
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

  @media only screen and (max-width: 1000px) {
    .center {
      text-align: center;
      align-items: center;
      margin: 0 auto;
    }

    .carousel-style {
      width: 50%;
      text-align: center;
  
    }
  }
  
  @media only screen and (max-width: 910px) {
    .carousel-text {
      color: rgb(221, 219, 219);
      font-size: 0.9rem;
      margin: 0;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .objective-txt {
      font-size: 1.3em; 
    }
  
    .description-txt {
      font-size: 0.9em; 
    }
    .project-title {
      font-weight: 550;
      font-size: 2.1em;
    }
  }
  @media only screen and (max-width: 600px) {
    .carousel-text {
      font-size: 0.9rem;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .objective-txt {
      font-size: 1.1em; 
    }
  
    .description-txt {
      font-size: 0.7em; 
    }
    .carousel-text {
      font-size: 0.7rem;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .project-title {
      font-weight: 550;
      font-size: 1.6em;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .proflie-details {
      width: 95%;
    }
    .objective-txt {
      font-size: 0.9em; 
    }
    .carousel-text {
      font-size: 0.5rem;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .description-txt {
      font-size: 0.5em; 
    }
    .project-title {
      font-weight: 550;
      font-size: 1.1em;
    }
  }