.project-container {
    min-height: 865px; 
    height: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .secondary-link {
    text-decoration: none;
    font-size: 1em;
    color: rgb(0, 145, 255);
  }

  .container-adjust {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;

  }

  .carousel-text {
    color: rgb(221, 219, 219);
    font-size: 1rem;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.1em;
  }

  .row-project {
    align-items: center;
    text-align: center;
    margin-top: 3%;
    /* margin-top: 5%; */

  }

  .project-txt {
    margin-right: 10%;
  }

  .description-div {
    margin-right: 5%;
    font-size: 1em;

  }
  .profile-details-role {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
  }

  .carousel-caption {
    background-color: rgb(68, 76, 76);
    color: white;
    padding: 0; 
    bottom: 0;
    right: 0; 
    left: 0;
  }

  .objective-txt {
    font-size: 2em; 
    color: white;
  }

  .description-txt {
    font-size: 1em; 
    color: white;
    list-style: none;
    text-align: justify;
  }

  .bolded-title {
    color: white; 
    text-align: justify;
    text-decoration: underline;
  }

  .columned-item {
    padding: 0;
  }

  .button-margin {
    margin: 1em;
    text-align: center;
    font-size: 1.1em;
    color: black;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  }
  
  .button-margin:hover {
    margin: 1em;
    font-size: 1.1em;
    color: blue;

    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  }

  .project-title {
    padding-top: 1em;
    color: #fff;
    margin-bottom: 7%;
    font-weight: 600;
    font-size: 2.5em;
    text-transform: capitalize;
    width: 100%;
  }

  
  .primary-text {
    color: (--white);
  }
  .highlighted-text {
    color: #ff5823;
  }
  
  html, body, #app, #app>div {
    height: 100%
  }
  
  .fade-in-text {
    font-family: Arial;
    /* font-size: 150px; */
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @media only screen and (max-width: 1600px) {
    .description-txt {
      font-size: 0.92em;
    }
    .project-title {
      font-size: 2.5em;
    }

    .bolded-title {
      font-size: 1.45em;
    }
    .project-title {
      margin-bottom: 2.5%;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .description-txt {
      font-size: 0.9em;
    }
    .project-title {
      font-size: 2.5em;
    }

    .bolded-title {
      font-size: 1.4em;
    }

    .button-margin, .button-margin:hover {
      margin: 0.8em;
      font-size: 0.95em;
      margin-bottom: 2em;
    }
    .project-title {
      margin-bottom: 2.5%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .description-txt {
      font-size: 0.85em;
    }
    .project-title {
      font-size: 2.3em;
    }

    .bolded-title {
      font-size: 1.25em;
    }
    .project-title {
      margin-bottom: 2%;
    }
  }

  @media only screen and (max-width: 1000px) {
    .center {
      text-align: center;
      align-items: center;
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .carousel-text {
      color: rgb(221, 219, 219);
      font-size: 0.9rem;
      margin: 0;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .objective-txt {
      font-size: 1.2em; 
    }
  
    .description-txt {
      font-size: 0.7em; 
    }

    .bolded-title {
      font-size: 0.95em;;
    }
    .project-title {
      font-size: 1.65em;
      margin: 0;
      margin-bottom: 1%;
    }

    .carousel-style {
      width: 50%;
      text-align: center;
  
    }

    .button-margin, .button-margin:hover {
      margin: 0.7em;
      margin-bottom: 2em;
      font-size: 0.85em;
    }
  }

  @media only screen and (max-width: 750px) {
    .carousel-text {
      color: rgb(221, 219, 219);
      font-size: 0.9rem;
      margin: 0;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
  
    .description-txt {
      font-size: 0.65em; 
    }
    .project-title {
      font-size: 2em;
    }

    .button-margin, .button-margin:hover {
      margin: 0.7em;
      margin-bottom: 2em;
      font-size: 0.85em;
    }
  }

  @media only screen and (max-width: 600px) {
    .carousel-text {
      font-size: 0.9rem;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .objective-txt {
      font-size: 1.1em; 
    }
  
    .description-txt {
      font-size: 0.7em; 
    }
    .carousel-text {
      font-size: 0.7rem;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .project-title {
      font-weight: 550;
      font-size: 1.6em;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .proflie-details {
      width: 95%;
    }
    .carousel-text {
      font-size: 0.5rem;
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-bottom: 0.15em;
      padding-top: 0.1em;
    }
    .description-txt {
      font-size: 0.6em; 
    }
    .project-title {
      font-size: 1.4em;
    }

    .button-margin, .button-margin:hover {
      margin: 0.8em;
      margin-bottom: 2em;
      font-size: 0.7em;
    }
  }